---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'Roboto', Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$display-font-family: 'Monoton', Arial, sans-serif;
$display-font-size: $base-font-size * 2.621;

$spacing-unit:     30px;

$background-color: #fdfdfd;
$brand-color:      #8230fb;
$text-color:       darken($brand-color, 35%);
$bright-link-color: #f7ff00;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 20%);
$grey-color-extralight: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;


//Border-shadow that is compatible with older browsers
@mixin box-shadow($horizontal, $vertical, $blur, $spread, $color) {
    -webkit-box-shadow: $horizontal $vertical $blur $spread $color;
    -moz-box-shadow: $horizontal $vertical $blur $spread $color;
    box-shadow: $horizontal $vertical $blur $spread $color;
}

//radial gradient in background that is compatible with older browsers
@mixin radial-gradient($color1, $color2){
    background: $background-color; /* For browsers that do not support gradients */
    background: -webkit-radial-gradient($color1, $color2); /* Safari 5.1-6.0 */
    background: -o-radial-gradient($color1, $color2); /* For Opera 11.6-12.0 */
    background: -moz-radial-gradient($color1, $color2); /* For Firefox 3.6-15 */
    background: radial-gradient($color1, $color2); /* Standard syntax */
}

//linear gradient in background that is compatible with older browsers
@mixin linear-gradient($degree, $color1, $color2, $color3){
    background: $background-color; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient($degree, $color1, $color2, $color3); /* Safari 5.1-6.0 */
    background: -o-linear-gradient($degree, $color1, $color2, $color3); /* For Opera 11.6-12.0 */
    background: -moz-linear-gradient($degree, $color1, $color2, $color3); /* For Firefox 3.6-15 */
    background: linear-gradient($degree, $color1, $color2, $color3); /* Standard syntax */
}

// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
